*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  /* display: inline-block; */
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: 1rem;
  padding: 0 .25rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button.p {
  line-height: 2rem;
}

.carousel-button.prev {
  /* margin-left: 3rem; */
  left: 2rem;
}

.carousel-button.next {
  left: 19.2rem;
  /* margin-right: 1rem; */
}


.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

