<style>
    .banner{
        background-color: #536895;
        display: grid;
        grid-template-columns: 80% auto;
    }
    
    .register-button {
        display: inline-block;
        padding: 10px;
        margin: 10px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: white;
        border-radius: 50px;
        background-color: #536895;
        border-color: #ffffff;
        color: #fff;
    }
    
    .register-button:hover {
        background-color: #536895;
    }
    </style>
    
<div class = "banner">
    
        <p style = "margin: 3%;text-align: center; font-size: large; color: white;background-color: #536895;">Joining the <strong>Be the Match®</strong> xzxzregistry means volunteering to be listed as a potential blood stem cell donor, ready to save the life of any patient in need of a transplant. Be The Match. Save a Life.</p>
        <button onclick="location.href='https://join.bethematch.org/LFE'"  class="register-button">Register Now!</button>
    
</div>