<style>
    :root {
        --length: 500px;
        --ratio: 56.25%;
    }
    .video_wrapper {
        position: relative;
        width: 100%;
        height: auto;
    }
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: "100%";
        height: "100%";
    }
</style>


<div class = "video_wrapper" >

    <iframe  src="https://www.youtube.com/embed/-rXmneNalmk?si=6SXMTcjaJ_6piqIQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
</div>

