<style>
    .banner{
        background-color: rgb(66, 83, 119);
        display: grid;
        grid-template-columns: 80% auto;
    }
    
    .register-button {
        display: inline-block;
        padding: 10px;
        margin: 10px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-width: 1px;
        border-color: white;
        border-radius: 40px;
        background-color: rgb(66, 83, 119);
        color: #fff;
    }
    
    .register-button:hover {
        background-color: rgb(84, 105, 150);
    }
</style>
    
<div class = "banner">

    <p style = "margin: 3%;text-align: center; font-size: large; color: white">Joining the <strong>Be the Match</strong> &trade; means volunteering to be listed as a potential blood stem cell donor, ready to save the life of any patient in need of a transplant. Be The Match. Save a Life.</p>
    <button onclick="location.href='https://join.bethematch.org/LFE'"  class="register-button">register now!</button>

</div>