<div style="display: grid; grid-template-columns: 65% auto;"
  class="rush-poster">
    <img
    src="{{ include.image | relative_url }}"
    loading="lazy"
    alt="{{ include.title | default: "feature image" }}"
    {% include fallback.html %}
    >
  <div class="poster-text" style="padding-left: 5%;">
    {% if include.time %}
      <h1 class="poster-time">Event Time: {{ include.time }}</h1>
    {% endif %}
    {% if include.location %}
        <h1 class="poster-location">Location: {{ include.location }}</h1>
    {% endif %}
    {{ include.text | markdownify }}
  </div>
</div>