<style>

    .join-us-section{
        display: grid;
        grid-template-columns: auto 60%;
        padding: 2%;
    }
    .calender-section{
        display: grid;
        grid-template-columns: 60% auto;
        padding: 2%;
    }

</style>

<body>

    <div class="join-us-section">
        <div>
            <header style="font-size: larger;">Wanna join the brotherhood?</header>
            <p style="padding: 5%;">
    
                 Unlock Your Potential with Lambda Phi Epsilon <br><br>
    
                🤝 Forge Lifelong Connections<br><br>
    
                🌐 Join a Global Community<br><br>
    
                🔥 Unleash Your Leadership<br><br>
    
                🎓 Achieve Academic Excellence<br><br>
    
    
                Ready to embark on a journey of lifelong brotherhood, leadership, and success? Come to our rush events and get to konw the bros.
    
            </p>
        </div>

        <img src = "/images/rush/Rush theme.png" style="padding: 5%; padding-top: 0;">


    </div>
    <div class = "calender-section" >

        <img src="/images/rush/Rush calender.png" style="padding: 5%; padding-top: 0;">
        <div>
            <header style="font-size: larger;" >Eligibility</header>
            <p style="padding: 5%;">
                GPA &#8805; 2.7<br>
                In good academic standing<br>
                Don't be an a******e
            </p>


        </div>

    </div>
    <div>
        <header style="text-align: center; display: block;">
            Interested? The Brotherhood is calling for you.
        </header>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdgOtC70mdHRFpbbvN-rEW_oeuJSSUL2qglh9CBOgLHsLKzEg/viewform?embedded=true" width="640" height="382" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>


    </div>





</body>