<head>

  <link rel="stylesheet" type="text/css" href="/_styles/tradition-image-gallery.css">
  <!-- <script src="/_scripts/traditoin-image-gallery.js"></script> -->

</head>

<body>

  <div class="carousel" data-carousel>
    <button class="carousel-button prev" data-carousel-button="prev">
      <p>&#8656;</p>
    </button>
    <ul data-slides>
      <li class="slide" data-active>
        <img src="/images/rush/secret_santa/image_1.webp" alt="Secret Santa Image #1">
      </li>
      <li class="slide">
        <img src="/images/rush/secret_santa/image_2.webp" alt="Secret Santa Image #2">
      </li>
      <li class="slide">
        <img src="/images/rush/secret_santa/image_3.webp" alt="Secret Santa Image #3">
      </li>
      <li class="slide">
        <img src="/images/rush/secret_santa/image_4.webp" alt="Secret Santa Image #4">
      </li>
      <li class="slide">
        <img src="/images/rush/secret_santa/image_5.webp" alt="Secret Santa Image #5">
      </li>
      <li class="slide">
        <img src="/images/rush/secret_santa/image_6.webp" alt="Secret Santa Image #6">
      </li>
    </ul>
    
    <!-- doesn't work beacuse github pages security reasons:( -->
    <!-- <ul data-slides> -->
    <!-- </ul> -->

    <button class="carousel-button next" data-carousel-button="next">
      <p>&#8658;</p>
    </button>
  </div>
</body>