<head>

  <link rel="stylesheet" type="text/css" href="/_styles/tradition-image-gallery.css">
  <!-- <script src="/_scripts/traditoin-image-gallery.js"></script> -->

</head>

<body>

    <div class="carousel" data-carousel>
      <button class="carousel-button prev" data-carousel-button="prev"><p>&#8656;</p></button>
      <ul data-slides>
        <li class="slide" data-active>
          <img src="/images/rush/secret_santa/image1.jpg" alt="Nature Image #1">
        </li>
        <li class="slide">
          <img src="/images/rush/secret_santa/image2.jpg" alt="Nature Image #2">
        </li>
        <li class="slide">
          <img src="/images/rush/secret_santa/image3.jpg" alt="Nature Image #3">
        </li>
      </ul>
      <button class="carousel-button next" data-carousel-button="next"><p>&#8658;</p></button>
    </div>

</body>
