<head>

  <link rel="stylesheet" type="text/css"
    href="/_styles/tradition-image-gallery.css">
  <!-- <script src="/_scripts/traditoin-image-gallery.js"></script> -->

</head>

<body>

  <div class="carousel" data-carousel>
    <button class="carousel-button prev" data-carousel-button="prev">
      <p>&#8656;</p>
    </button>
    <ul data-slides>
      <li class="slide" data-active>
        <img src="/images/events/SP24/SP24 CNY/CNY (1).webp" alt="CNY Image #1">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (2).webp" alt="CNY Image #2">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (3).webp" alt="CNY Image #3">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (4).webp" alt="CNY Image #4">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (5).webp" alt="CNY Image #5">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (6).webp" alt="CNY Image #6">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (7).webp" alt="CNY Image #7">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (8).webp" alt="CNY Image #8">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (9).webp" alt="CNY Image #9">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (10).webp" alt="CNY Image #10">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (11).webp" alt="CNY Image #11">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (12).webp" alt="CNY Image #12">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (13).webp" alt="CNY Image #13">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (14).webp" alt="CNY Image #14">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (15).webp" alt="CNY Image #15">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (16).webp" alt="CNY Image #16">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (17).webp" alt="CNY Image #17">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (18).webp" alt="CNY Image #18">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (19).webp" alt="CNY Image #19">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (20).webp" alt="CNY Image #20">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (21).webp" alt="CNY Image #21">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (22).webp" alt="CNY Image #22">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (23).webp" alt="CNY Image #23">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (24).webp" alt="CNY Image #24">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (25).webp" alt="CNY Image #25">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (26).webp" alt="CNY Image #26">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (27).webp" alt="CNY Image #27">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (28).webp" alt="CNY Image #28">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (29).webp" alt="CNY Image #29">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (30).webp" alt="CNY Image #30">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (31).webp" alt="CNY Image #31">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (32).webp" alt="CNY Image #32">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (33).webp" alt="CNY Image #33">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (34).webp" alt="CNY Image #34">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (35).webp" alt="CNY Image #35">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (36).webp" alt="CNY Image #36">
      </li>
      <li class="slide">
        <img src="/images/events/SP24/SP24 CNY/CNY (37).webp" alt="CNY Image #37">
      </li>
    </ul>
    <button class="carousel-button next" data-carousel-button="next">
      <p>&#8658;</p>
    </button>
  </div>
</body>

<script>
  const buttons = document.querySelectorAll("[data-carousel-button]")

buttons.forEach(button => {
  button.addEventListener("click", () => {
    const offset = button.dataset.carouselButton === "next" ? 1 : -1
    const slides = button
      .closest("[data-carousel]")
      .querySelector("[data-slides]")

    const activeSlide = slides.querySelector("[data-active]")
    let newIndex = [...slides.children].indexOf(activeSlide) + offset
    if (newIndex < 0) newIndex = slides.children.length - 1
    if (newIndex >= slides.children.length) newIndex = 0

    slides.children[newIndex].dataset.active = true
    delete activeSlide.dataset.active
  })
})
</script>