<!-- third party styles -->
<!-- https://stylishthemes.github.io/Syntax-Themes/pygments/ -->
<link 
  href="https://cdn.jsdelivr.net/gh/StylishThemes/Syntax-Themes/pygments/css-github/pygments-tomorrow-night-eighties.css"
  rel="stylesheet"
/>

<!-- primary bundled stylesheet -->
<link href="{{ '/_styles/main.css' | relative_url }}" rel="stylesheet" />

<!-- store page specific stylesheet -->
{% if page.layout == "store" %}
  <link href="{{ '/_styles/store.css' | relative_url }}" rel="stylesheet" />
{% endif %}
