{% assign member = site.members 
  | where_exp: "member", "member.slug == include.lookup"
  | first
  | default: include
%}

<div class="portrait-wrapper">
  <a
    {% if page.slug != member.slug %}
      href="{{ member.url | relative_url }}"
    {% endif %}
    class="portrait"
    data-style="{{ include.style }}"
    aria-label="{{ member.fn }} {{ member.ln | default: "member link" }}"
  >
    <img
      src="{{ member.image | relative_url }}"
      class="portrait-image"
      alt="portrait of {{ member.fn }} {{ member.ln }}"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if member.fn or member.ln or member.role or member.description %}
      <span class="portrait-text">
        {% if member.fn or member.ln %}
          <span class="portrait-name">
            {{ member.fn }}{% if member.mn %} {{ member.mn }}{% endif %} {{ member.ln }}
          </span>
        {% endif %}

        {% if member.role or member.description %}
          <span class="portrait-role">
            {% assign type = site.data.types[member.role] %}
            {% include icon.html icon=type.icon %}
            <span>#{{ member.number }} {{ member.description | default: type.description }}</span>
          </span>
        {% endif %}
      </span>
    {% endif %}
  </a>
</div>