---
layout: none
---

<!DOCTYPE html>
<html lang="en" data-dark="false">
  {% include layout/head.html %}

  <body class="site-shell member-page-layout">
    {% include layout/header.html %}

    <main class="member-page-main site-main-fill">
      <div class="member-page-content page-content-shell">
        {% capture floatcontent %}

        <div>
          {% include components/portrait.html lookup=page.slug %}
          {% include components/personal-media.html lookup=page.slug %}
        </div>

        <div>
          {% for link in page.links %}
            {% assign key = link[0] %}
            {% assign value = link[1] %}
            {% include components/button.html type=key link=value style="bare" %}<br>
          {% endfor %}
        </div>

        {% endcapture %}

        {% include components/float.html content=floatcontent %}

        <div class="member-page-body">
          {{ content }}
        </div>

        {% assign aliases = page.aliases
          | default: page.name
          | default: page.title
          | join: ","
          | split: ","
          | array_filter
        %}

        {% capture search -%}
          research/?search={% for alias in aliases %}"{{ alias }}" {% endfor %}
        {%- endcapture %}

        {% capture search -%}
          blog/?search={{ page.name }}
        {%- endcapture %}
      </div>
    </main>

    {% include layout/footer.html %}
  </body>
</html>