<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      min-height: 100vh;
    }

    body{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .webstore-container {
      background-color: var(--background);
      width: 100%;
      flex: 1;
    }
  </style>
</head>

{% include layout/head.html %}

<body>
  {% include layout/header.html %}

  <div class="webstore-container">
    {{ content }}
  </div>

  {% comment %}
  {% include cart.html %}
  {% include checkout.html %}
  {% endcomment %}

  {% include layout/footer.html %}
</body>

</html>